.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .customers-list{    
        width: calc(100vw - 150px);
        height: auto;

        display: flex;
        flex-direction: column;

        overflow-y: auto;

        // HEADER
        .header {
            background-color: #f8f8f8;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            height: 60px;

            .header-item {
                width: calc(100%/6);
                min-width: 150px;

                font-size: 18px;
    
                padding: 0px 10px;
    
                //border-left: solid #cca43b 2px;
    
                .arrow {
                    height: 16px;
                    width: auto;
                    padding-left: 8px;
                }
            }
            
    
            // div {
            //     display:none
            // }
    
            .first-item {
                border-style: none;
            }
        }

        // CUSTOMER SCROLL

        .scroll-container{
            overflow: auto;
            height: calc(100vh - 150px);

            overflow: hidden; //for responsive

            .customer-box{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
            }

            .row-item {
                width: calc(100%/6);
                min-width: 150px;
                margin: 10px;

                overflow: auto;
            }
        }

            // RESPONSIVE 
            @media (max-width: 1180px) {
                .header .header-item {
                    width: calc(100%/5);
                }
                .scroll-container .row-item {
                    width: calc(100%/5);
                }
            }
            @media (max-width: 1008px) {
                .header .header-item {
                    width: calc(100%/4);
                }
                .scroll-container .row-item {
                    width: calc(100%/4);
                }
            }
            @media (max-width: 836px) {
                .header .header-item {
                    width: calc(100%/3);
                }
                .scroll-container .row-item {
                    width: calc(100%/3);
                }
            }
            @media (max-width: 664px) {
                .header .header-item {
                    width: 50%;
                }
                .scroll-container .row-item {
                    width: 50%;
                }
            }
            @media (max-width: 493px) {
                .header .header-item {
                    width: 100%;
                    min-width: none;
                }
                .scroll-container .row-item {
                    width: 100%;
                    min-width: none;
                }
            }
        
    }

    /* width */
    ::-webkit-scrollbar {
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #dfdfdf; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #999999; 
    }
    
}