.customers-list{    
    width: 100%;
    display: flex;
    flex-direction: column;

    .customer-box{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        .header-item {
            width: calc(100% /6);
            font-size: 100%;

            padding: 0.1% 1%;
            margin: 1% 0;

            border-left: solid #7D4CDB 2px;

            .arrow {
                width: 7%;
                height: auto;
                padding-left: 5%;
            }
        }

        .row-item{
            width: calc(100% /6);
            font-size: 100%;
            padding: 1% calc(2px + 1%);

            overflow: auto;
        }
        
    }

    .header {
        background-color: #f8f8f8;

        div {
            display:none
        }

        .first-item {
            border-style: none;
        }
    }

    // SCROLLBAR
    /* width */
    ::-webkit-scrollbar {
    height: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f2f2f2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999999; 
  }
    
}