.car-form-container{
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;

    gap: 50px;
    padding: 50px;

    .car-form {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;

      width: 100%;
      gap: 100px;
  
      .form-column {
        display: flex;
        flex-direction: column;
        width: 450px;
        gap: 24px;
      }

      .picture-form{
        height: 432px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .image{
          width: 350px;
          height: 350px;
          border-radius: 50%;
          object-fit: cover;
          
        }

        .file-input{
          margin: 16px 0;
          align-items: center;
        }
      }

      .input {
        font-size: 16px;
      }
    }

    .button {
      button {
      width: 150px;
      }
    }
  }

  /* Hiding arrows in input type: number */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  /* Media */
  @media (max-width: 1291px) {
    .form {

      .customer-form {
        display: flex;
        justify-content: center;
        gap: 24px;
    
        .form-column {
          width: 50%;
        }
      }
  
      .button {
        button {
        width: 20%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .form {

      .customer-form {
        display: flex;
        flex-direction: column;

        .form-column {
          width: 100%;
        }
      }
  
      .button {
        display: flex;
        justify-content: center;

        button {
        width: 150px;
        }
      }
    }
  }

  @media (max-width: 568px) {
    .form {
      padding: 6vw;

      .button {
        .reset{
          display: none;
        }
      }

      .button {
        button {
        width: 50%;
        font-size: 100%;
        }
      }
    }
  }

  @media (max-width: 450px) {
    .form {
      padding: 0;

      .customer-form{
        display: flex;
        flex-direction: column;
        gap: 1vw;

        .form-column {
          display: flex;
          flex-direction: column;
          gap: 1vw;
        }
      }

      .input{
        label{
          margin-top: 0;
          margin-bottom: 0;
        }
        .label{
          font-size: 3vw;
        }
        .placeholder{
          height: 1vw;
          font-size: 3vw;
        }
      }
    }
  }
}

// .car-form-container{

//   /* Form Display */
//   .car-form{
//     text-align: start;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   .image{
//     width: 350px;
//     height: 350px;
//     border-radius: 50%;
//     object-fit: cover;
//   }

//   .picture-form{
//     align-items: center;
//   }

//   .file-input{
//     margin: 16px 0;
//     align-items: center;
//   }

//   .form-column{
//     width: 350px;
//     display: flex;
//     flex-direction: column;
//   }

//   /* Form */
//   .button {
//     margin-top: 24px;
//     justify-content: center;
//   }

//   .input{
//     font-size: 18px;
//     padding-bottom: 4px;

//     input{
//       padding: 8px 12px;
//     }
//   }

//   /* Hiding arrows in input type: number */
//   /* Chrome, Safari, Edge, Opera */
//   input::-webkit-outer-spin-button,
//   input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }
//   /* Firefox */
//   input[type=number] {
//     -moz-appearance: textfield;
//   }

//   /* Media */
//   @media (max-width: 880px) {
//     .car-form{
//       display: flex;
//       flex-direction: column;
//     }
    
//   }
//   @media (max-width: 680px) {
//     .form-column{
//       width: 62vw;
//     }

//     .image{
//       width: 62vw;
//       height: 62vw;
//     }
  
//     .file-input{
//       padding: 5vw 0;
//     }

//     /* Form */
//     .button {
//       margin-top: 10vw;
//     }

//     .input{
//       font-size: 3.2vw;
//       padding-bottom: 1vw;
//     }

//     .input input{
//       padding: 1vw 2vw;
//     }
//   }
//   @media (max-width: 375px) {
//     .form-column{
//       width: 268px;
//     }

//     .image{
//       width: 268px;
//       height: 268px;
//     }
  
//     .file-input{
//       padding: 8px 0;
//     }

//     /* Form */
//     .button {
//       margin-top: 8px;
//     }

//     .input{
//       font-size: 12px;
//       padding-bottom: 8px;
//     }

//     .input input{
//       padding: 4px 8px;
//     }
//   }
// }
