.sidebar-container :is(.sidebar) {
    border-radius: 0;

    .tip {
        background-color: red;
    }
    .nav-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}