.customer-settings{
    width: 100%;
    height: 100%;

    .title{
        text-align: center;
    }

    .information-tab{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 32px;

        padding: 32px;

        .information-container{
            width: calc(50% - 16px);
        }

        .information-box{
            display: flex;
            flex-direction: column;

            margin: 16px;
        }

    }

}